Open Dev tools and watch the console when clicking nav-links.

<p>Routes:</p>
<ul>
  <li>{{link-to 'Home' 'index'}}</li>
  <li>{{link-to 'First' 'firstroute'}}</li>
  <li>{{link-to 'Second' 'secondroute'}}</li>
  <li>{{link-to 'Third' 'thirdroute'}}</li>
</ul>

{{outlet}}
